# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/oci_test_switch_session
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-cf20df63603e6e54f726.json
build/.cmake/api/v1/reply/codemodel-v2-809b884df7d279e15bd9.json
build/.cmake/api/v1/reply/index-2020-12-09T16-26-36-0829.json
build/.cmake/api/v1/reply/target-oci_test_switch_session-Debug-e3c7b8d4eb561856697e.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.19.1/CMakeCCompiler.cmake
build/CMakeFiles/3.19.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.19.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.19.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.19.1/CMakeSystem.cmake
build/CMakeFiles/3.19.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.19.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/oci_test_switch_session.dir/build.make
build/CMakeFiles/oci_test_switch_session.dir/C.includecache
build/CMakeFiles/oci_test_switch_session.dir/cmake_clean.cmake
build/CMakeFiles/oci_test_switch_session.dir/depend.internal
build/CMakeFiles/oci_test_switch_session.dir/depend.make
build/CMakeFiles/oci_test_switch_session.dir/DependInfo.cmake
build/CMakeFiles/oci_test_switch_session.dir/flags.make
build/CMakeFiles/oci_test_switch_session.dir/link.txt
build/CMakeFiles/oci_test_switch_session.dir/progress.make
.vscode/settings.json
oci_test_switch_session.vcxproj
oci_test_switch_session.vcxproj.filters
oci_test_switch_session.vcxproj.user
